@use 'styles/variables';
@use 'styles/mixins';

.genres {
    border-radius: 5px;
    overflow: hidden;

    &-list {
        width: 100%;
        padding: 1rem;
        display: block;
        gap: .8rem;
        background-color: var(--bg-second-color);

        @media screen and (max-width: variables.$tablet) {
            @include mixins.flex-wrap;
            margin-bottom: 1.5rem;
        }

        @media screen and (max-width: variables.$mobile) {
            display: none;
        }
    
        &-item {
            padding: .5rem;
            font-size: variables.$medium-font-size;
            border: 1px solid var(--bg-second-color);
            transition: all ease .6s;
        
            &:hover {
                border: 1px solid var(--text-second-color);
                color: var(--text-second-color);
            }
        }
    }

    &-select {
        display: none;
        width: 100%;
        padding: .8rem .5rem;
        background-color: var(--bg-second-color);
        color: var(--text-primary-color);
        border: none;

        @media screen and (max-width: variables.$mobile) {
            display: block;
        }
    }
}