@use 'styles/variables';
@use 'styles/mixins';

.list {
    width: 100%;
    padding: 1rem;
    display: block;
    gap: .8rem;
    background-color: variables.$bg-second-color;

    &-item {
        padding: .5rem;
        font-size: variables.$medium-font-size;
        border: 1px solid variables.$bg-second-color;
        transition: all ease .6s;
    
        &:hover {
            border: 1px solid variables.$text-second-color;
            color: variables.$text-second-color;
        }
    }

    .active-work {
        border: 1px solid variables.$text-second-color !important;
        color: variables.$text-second-color;
    }

    @media screen and (max-width: variables.$tablet) {
        @include mixins.flex-wrap;
        margin-bottom: 1.5rem;
    }
}

