@use 'styles/variables';
@use 'styles/mixins';

.dash {
    width: 95%;
    padding-bottom: 2rem;

    @media screen and (max-width: variables.$mobile){
        text-align: center;
    }

    &-title {
        margin-top: 1rem;
        font-size: variables.$big-font-size;
    }

    &-info {
        font-size: variables.$title-font-size;
        text-align: center;
        margin-bottom: 1rem;
    }

    &-text {
        margin-top: 2rem;
        font-size: variables.$medium-font-size;
    }

    &-cards {
        width: 100%;
        @include mixins.display-grid(3, 1fr, 1%, 2rem);

        @media screen and (max-width: variables.$tablet) {
            width: 90%;
            margin: 0 auto;
            @include mixins.display-grid(2, 1fr, 1%, 2rem);
        }

        @media screen and (max-width: variables.$mobile) {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }

    h3 {
        @media screen and (max-width: variables.$tablet) {
            text-align: center;
        }
    }

    span {
        color: var(--text-second-color);
    }

    .rating {
        @include mixins.display-center;
        margin-bottom: 1rem;
        padding-block: .5rem;

        &-item {
            margin-top: 0;
        }
    }
}