@use 'styles/variables';
@use 'styles/mixins';

.rating {
    width: 100%;
    padding: 0 1rem 1rem;
    background-color: variables.$bg-second-color;

    @media screen and (max-width: variables.$mobile) {
        padding: 0 .8rem .8rem;
    }

    &-list {
        display: flex;
        align-items: center;
        padding: .5rem;
        gap: .5rem;
        font-size: variables.$medium-font-size;
        border: 1px solid variables.$bg-second-color;
        transition: all ease .6s;

        &:hover {
            border: 1px solid variables.$text-second-color;
            color: variables.$text-second-color;
        }

        @media screen and (max-width: variables.$mobile) {
            font-size: variables.$normal-font-size;
        }
    }
}