@use 'variables';
@use 'mixins';

/* -------------- Reset CSS -------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: variables.$primary-font-family;
}

body {
    background-color: variables.$bg-primary-color;
    color: variables.$text-primary-color;
    min-width: 360px;
}

a,
li,
button,
svg {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ------------- Classes Reutilizáveis -------------- */

.container {
    max-width: 1440px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.wrapper-menu {
    width: 75%;
    @include mixins.display-between(row, center);

    @media screen and (max-width: variables.$mobile-lg) {
        width: 100%;
        margin-bottom: .8rem;
    }    
}

.text-title {
    text-transform: uppercase;
    margin-block: 1rem;

    @media screen and (max-width: variables.$mobile) {
        margin-block: .8rem;
        font-size: variables.$normal-font-size;
    }
}

.text-center,
.text-center-sm {
    text-align: center;
}

.active-work {
    border: 1px solid variables.$text-second-color !important;
    color: variables.$text-second-color;
}

.isFavorite {
    color: variables.$favorite-color;
}

.highlight {
    color: variables.$rating-color;
}

.error {
    color: variables.$favorite-color;
}

.btn {
    width: 100%;
    padding: .5rem 0 ;
    text-align: center;
    font-size: variables.$title-font-size;
    font-weight: bold;
    background-color: variables.$text-second-color;
    color: variables.$text-primary-color;
    border: none;
    border-radius: 5px;
    transition: all .6s;

    &:hover {
        background-color: variables.$hover-primary-color;
    }
}

/* ------------- Forms styles -------------- */

form {
    max-width: 40%;
    margin: 2rem auto;

    @media screen and (max-width: variables.$tablet) {
        max-width: 60%;
    }

    @media screen and (max-width: variables.$mobile) {
        max-width: 90%;
    }

    label {
        display: flex;
        flex-direction: column;
        margin-block: 1rem;
        font-size: variables.$medium-font-size;
    }

    input {
        width: 100%;
        padding: .5rem;
        font-size: variables.$title-font-size;
    }

    button {
        margin-block: 1.5rem;
    }
}