@mixin display-between($position, $align) {
    display: flex;
    flex-direction: $position;
    justify-content: space-between;
    align-items: $align;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin display-grid($columns, $sizeColumns, $columnGap, $rowGap) {
    display: grid;
    grid-template-columns: repeat($columns, $sizeColumns);
    column-gap: $columnGap;
    row-gap: $rowGap;
}