/* -------------- Tipografia -------------- */
$primary-font-family: 'Roboto', sans-serif;

$medium-font-size: 1.3rem;
$title-font-size: 1.2rem;
$normal-font-size: 1rem;

/* ---------------- Cores ----------------- */
$bg-primary-color: #131823;
$bg-second-color: #1B2838;
$bg-card-color: #080d1a;
$text-primary-color: #FFFFFF;
$text-second-color: #0094FF;
$favorite-color: #f0cf15;

/* -------------- Breakpoints -------------- */
$mobile: 645px;
$tablet: 1023px;