@use 'styles/variables';

.card-error {
    font-size: variables.$medium-font-size;
    

    img {
        max-width: 400px;
        width: 100%;
        margin-block: 1.5rem;
        color: variables.$text-primary-color;
    }

    p {
        margin-bottom: 1.5rem;
    }
}