@use 'styles/variables';
@use 'styles/mixins';

.modal {
    position: fixed;
    inset: 0;
    background-color: var(--bg-overlay-color);
    @include mixins.display-center;

    &-container {
        background-color: var(--bg-second-color);
        color: var(--text-primary-color);
        padding: 2.5rem 2rem;
        border-radius: .7rem;
        position: relative;

        &-close {
            position: absolute;
            top: .7rem;
            right: .7rem;
            font-size: variables.$big-font-size;
            transition: all .6s;

            &:hover {
                color: var(--text-second-color);
            }
        }

        p {
            margin-top: 1rem;
        }
    }

    button {
        margin-top: 1rem;
    }
}