@use 'styles/variables';

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-item {
        display: flex;
        font-size: variables.$medium-font-size;

        a, svg {
            color: variables.$text-primary-color;
            transition: all .5s;

            &:hover {
                color: variables.$text-second-color;
            }
        }
    }

    #home.active,
    #login.active,
    #register.active,
    #dashboard.active {
        color: variables.$text-second-color;
    }
}