@use 'styles/variables';
@use 'styles/mixins';

.favorites {
    &-list {
        width: 100%;
        padding: 1rem 1rem 0;
        background-color: variables.$bg-second-color;

        @media screen and (max-width: variables.$mobile) {
            padding: .8rem .8rem 0;
        }

        &-item {
            padding: .5rem;
            font-size: variables.$medium-font-size;
            border: 1px solid variables.$bg-second-color;
            transition: all ease .6s;
        
            &:hover {
                border: 1px solid variables.$text-second-color;
                color: variables.$text-second-color;
            }

            @media screen and (max-width: variables.$mobile) {
                font-size: variables.$normal-font-size;
            }
        }
    }
}