@use 'styles/variables';
@use 'styles/mixins';

.favorites {
    &-list {
        width: 100%;
        padding: 1rem 1rem 0;
        background-color: var(--bg-second-color);

        @media screen and (max-width: variables.$mobile) {
            padding: .8rem .8rem 0;
        }

        &-item {
            padding: .5rem;
            font-size: variables.$medium-font-size;
            border: 1px solid var(--bg-second-color);
            transition: border ease .6s;
        
            &:hover {
                border: 1px solid var(--text-second-color);
                color: var(--text-second-color);
            }

            @media screen and (max-width: variables.$mobile) {
                font-size: variables.$normal-font-size;
            }
        }
    }
}