@use 'styles/variables';
@use 'styles/mixins';

.wrapper {
    width: 20%;
    @include mixins.display-between(row, center);
    padding: .5rem;
    background-color: var(--bg-primary-color);
    border-radius: 5px;

    @media screen and (max-width: variables.$mobile-lg) {
        width: 100%;
    }
}

.btn-search {
    width: 100%;
    margin-right: 1rem;
    padding: 5px;
    font-size: variables.$normal-font-size;
    color: var(--text-primary-color);
    background-color: transparent;
    border: var(--bg-primary-color);
}