@use 'styles/variables';
@use 'styles/mixins';

.main {
    @include mixins.display-between(row, start);
    padding-inline: 1rem;

    @media screen and (max-width: variables.$tablet) {
        flex-direction: column-reverse;
    }

    &-sidebar {
        width: 20%;

        @media screen and (max-width: variables.$tablet) {
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        &-user {
            @media screen and (max-width: variables.$tablet) {
                display: flex;
                align-items: center;
            }

            @media screen and (max-width: variables.$mobile) {
                display: block;
            }

            .rating {
                @media screen and (max-width: variables.$tablet) {
                    width: 50%;
                    display: flex;
                    padding: .5rem;
                }

                @media screen and (max-width: variables.$mobile) {
                    width: 100%;
                }
            }

            .favorites {
                @media screen and (max-width: variables.$tablet) {
                    width: 50%;
                    
                    &-list {
                        padding: .5rem;

                        @media screen and (max-width: variables.$mobile) {
                            padding: .5rem .5rem 0;
                        }
                    }
                }

                @media screen and (max-width: variables.$mobile) {
                    width: 100%;
                }
            }

        }
    }

    &-content {
        width: 75%;
        display: block;

        @media screen and (max-width: variables.$tablet) {
            width: 90%;
            margin: 0 auto;
        }

        &-cards {
            width: 100%;
            @include mixins.display-grid(3, 1fr, 1%, 2rem);
    
            @media screen and (max-width: variables.$tablet) {
                @include mixins.display-grid(2, 1fr, 1%, 2rem);
            }
    
            @media screen and (max-width: variables.$mobile) {
                display: block;
            }
        }
    }
}

